body {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
}

.heading {
  color: #174060;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.heading img {
  margin-right: 5px; /* Memberi jarak antara gambar dan judul */
  width: 100px; /* Menyesuaikan lebar gambar */
  height: auto; /* Menjaga proporsi aspek gambar */
}

.heading h2 {
  text-align: center;
  font-size: 16px;
}

.copyright p {
  margin-left: 40px;
  color: #174060;
  margin-top: -20px; /* Spasi antara h2 dan copyright */
  font-size: 7px;
  text-align: center;
}

.product-id p {
  line-height: 0.5;
  font-size: 12px;
  color: #174060;
  text-align: center;
}

.product-description {
  margin-top: 20px;
  color: #174060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  flex: 1;
  margin-right: 20px;
  height: auto;
  display: block;
  width: 140px;
}

.product-content {
  line-height: 1;
}

.judul p {
  font-size: 13px;
}

.komposisi p {
  font-size: x-small;
}

.emission-description {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Atur flex direction ke kolom */
}

.emission-description img {
  width: 500px;
}

.logo {
  display: flex; /* Menjadikan container logo menjadi flex container */
  justify-content: flex-start; /* Mengatur posisi horizontal logo ke kiri */
}

.logo img {
  height: auto;
  width: 60px; /* Sesuaikan dengan ukuran yang Anda inginkan */
}

.map {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Atur flex direction ke kolom */
}

.map img {
  width: 500px;
  margin-bottom: 30px;
}

.information {
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.btn-outline-primary {
  font-size: 30px !important;
  width: 100% !important;
  border-color: #174060 !important;
  color: #174060 !important;
}

.information p {
  line-height: 1;
  font-size: 13px;
}
